@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
    --color-primary:#999A9D ;
    --color-secondary:#00A8B5 ;
    --color-accent:#FFA246;
    --primary-content:#0DE3F41A ;
    --cally-primary:#00A8B5  ;
    --color-primary-content:#D9D9D9 ;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
    --color-primary:#999A9D ;
    --color-secondary:#00A8B5 ;
    --color-accent:#FFA246;
    --primary-content:#0DE3F41A ;
}


.custom-scrollbar {
  scrollbar-width: thin;
  margin-right: 8px;
  scrollbar-color: #000000 #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 8px;
  border: 2px solid #f3f4f6;
}

