@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
    --color-primary:#999A9D ;
    --color-secondary:#00A8B5 ;
    --color-accent:#FFA246;
    --primary-content:#0DE3F41A ;
    --cally-primary:#00A8B5  ;

    
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
    --color-primary:#999A9D ;
    --color-secondary:#00A8B5 ;
    --color-accent:#FFA246;
    --primary-content:#0DE3F41A ;
}



.custom-scrollbar {
  scrollbar-width: thin;
  margin-right: 8px;
  scrollbar-color: #000000 #f3f4f6;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}